

<div id="@Model" class="modal">
    <div class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header">
                Несколько правил относительно того, какой должна быть миссия.
            </div>
            <div class="modal-body">
                <ol>
                    <li>Миссия должна быть <strong>интересной</strong>. Это значит что или Вам самим она должна быть интересной, или Вы должны четко представлять человека из целевой аудитории, которому она будет интересна.</li>
                    <li>Миссия должна быть <strong>понятной</strong>. Это значит, что любому человеку должно быть понятно, что надо сделать чтобы пройти эту миссию. </li>
                    <li>Миссия должна быть <strong>проверяемой</strong>. Т.е. ее выполнение можно проверить с участием админов, или автоматически. </li>
                    <li>Текст для миссии должен быть <strong>игровым</strong>. Это значит, что официальный сухой язык неприемлем. Тем не менее, он должен быть грамотным.</li>
                    <li>Название миссии и текст нужно начинать с <strong>Большой</strong> буквы.</li>
                    <li><strong>Все</strong> поля имеют значение. Это значит, что нужно подумать над каждым полем, перед тем как нажать Создать.</li>
                    <li>По возможности, создавайте миссии, которые можно проверить <strong>автоматически</strong>. Это снизит нагрузку с администраторов и пользователи будут более довольны. Автоматически можно отслеживать геолокацию и правильные ответы.</li>
                    <li>Обязательно думайте о <strong>последствиях</strong> миссий. Не нарушают ли они закон, не могут ли они помочь преступникам, не толкают ли на необдуманные поступки.</li>
                    <li>
                        Наши возможности ограничены:
                        <ul>
                            <li>В миссиях по геолокации мы можем опираться только на расположение дома пользователя, его текущее месторасположение, относительное расположение с другими пользователями.</li>
                            <li>У пользователей задействованы только мобильные телефоны. И на них не самый лучший интернет, бывает что его и вообще нет.</li>
                            <li>Ограничены возможности проверки миссий. Нужно создавать такие миссии, которые нужно проверять максимум минуту (по крайней мере в первой версии).</li>
                        </ul>
                    </li>
                    <li>
                        В миссиях можно задействовать все возможности телефона:
                        <ul>
                            <li>Камеру</li>
                            <li>Микрофон</li>
                            <li><a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BE%D0%BB%D0%BE%D0%BA%D0%B0%D1%86%D0%B8%D1%8F" target="_blank">Геолокацию</a></li>
                            <li>Компас</li>
                            <li><a href="http://i-on.ru/article/sensory-ustrojstva-kotorye-delajut-telefon-umnym" target="_blank">Акселерометр</a></li>
                            <li><a href="http://i-on.ru/article/sensory-ustrojstva-kotorye-delajut-telefon-umnym" target="_blank">Гироскоп</a></li>
                            <li>Вибрацию</li>
                            <li>Статус батареи</li>
                            <li>Возможно еще что-то</li>
                        </ul>
                    </li>
                </ol>
                <p>
                    Очень важно принять во внимание <b>все пункты</b>, большое спасибо, за то что дочитали до конца :)
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Закрыть</a>
            </div>
        </article>
    </div>
</div>